/.vscode
/document.pdf
/Guidebook Open Recruitment Gamaforce 2023.pdf
/hackerrank.exe
/Menghitungjarak.cpp
/Menghitungjarak.exe
/parsingdata.cpp
/parsingdata.exe
/Pascal.cpp
/Pascal.exe
/tempCodeRunnerFile.cpp
/Yaw_Axis_Corrected.svg.png